body {
    background-image: url(../img/village.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;

    object-fit: contain;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    margin-left: 60%;
    color: white;
}

p {
    text-indent: 32px;
    font-size: 16px;
    line-height: 32px;
    color: white;
}

img {
    position: absolute;
    left: 50%;
    margin-left: -181px;
}