body {
    margin: 0;
    padding: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: stretch;
}

iframe {
    width: auto;
    height: auto;
}