#f1,
#f2,
#f3 {
    margin-bottom: 3px;
    padding: 0px;
    width: 888px;
    height: 320px;
    background-color: #aaaaaa;
    border: .2rem solid #000000;
    border-radius: .4rem;
}

#d0,
#d1,
#d2,
#d3 {
    margin: 0px;
    width: 512px;
    height: 128px;
    left: 128px;
    top: 128px;
    border-radius: .3rem;
    text-align: center;
    font-size: xx-large;
}

#d0 {
    position: static;
    border: .2rem solid #000000;
    color: #000000;
}

#d1 {
    position: relative;
    border: .2rem solid #00ff00;
    color: #00ff00;
}

#d2 {
    position: absolute;
    border: .2rem solid #ff0000;
    color: #ff0000;
}

#d3 {
    position: fixed;
    border: .2rem solid #0000ff;
    color: #0000ff;
}

p {
    margin: 8px;
    text-align: left;
    font-size: small;
}

#description {
    position: fixed;
    top: 2rem;
    left: 910px;
    width: calc(100%-888px);
    z-index: 100;
    float: right;

    border: .2rem solid #888;
    border-radius: .4rem;
}