html, body{
    height:100%;
}

div{
    border: 1px solid #0000FF;
    margin: 0px;
}

#d1{
    width: 100%;
    height: 15%;
}

#d2{
    width: 30%;
    height: 70%;
    display: inline-block;
}

#d3{
    width: 50%;
    height: 70%;
    display: inline-block;
}

#d4{
    width: 100%;
    height: 15%;
}