.div {
    margin-bottom: 16px;
}

span {
    font-size: 2em;
}

.item {
    font-size: 2em;
    text-align: center;
    border: 1px solid #e5e4e9;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-1 {
    background-color: #ef342a;
}

.item-2 {
    background-color: #f68f26;
}

.item-3 {
    background-color: #4ba946;
}

.item-4 {
    background-color: #0376c2;
}

.item-5 {
    background-color: #c077af;
}

.item-6 {
    background-color: #f8d29d;
}

.item-7 {
    background-color: #b5a87f;
}

.item-8 {
    background-color: #d0e4a9;
}

.item-9 {
    background-color: #4dc7ec;
}

#container01 {
    display: grid;
    grid-template-columns: repeat(2, 256px 128px 64px);
}

#container02 {
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
}

#container03 {
    display: grid;
    grid-template-columns: 256px 1fr 2fr 4fr;
}

#container04 {
    display: grid;
    grid-template-columns: 512px repeat(8, 1fr);
}

#container05 {
    display: grid;
    grid-template-columns: 256px 1fr minmax(256px, 2fr) minmax(256px, 2fr);
}

#container06 {
    display: grid;
    grid-template-columns: 256px auto 128px auto;
}