.div {
    margin-bottom: 16px;
}

span {
    font-size: 2em;
}

.item {
    font-size: 2em;
    text-align: center;
    border: 1px solid #e5e4e9;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-1 {
    background-color: #ef342a;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item-2 {
    background-color: #f68f26;
    grid-column-start: 1;
    grid-column-end: 3;
}

.item-3 {
    background-color: #4ba946;
}

.item-4 {
    background-color: #0376c2;
}

.item-5 {
    background-color: #c077af;
}

.item-6 {
    background-color: #f8d29d;
}

.item-7 {
    background-color: #b5a87f;
}

.item-8 {
    background-color: #d0e4a9;
}

.item-9 {
    background-color: #4dc7ec;
}

#container01 {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(4, 64px);
}

#container02 {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(4, 64px);
    grid-auto-flow: row dense;
}

#container03 {
    display: grid;
    grid-template-columns: repeat(3, 128px);
    grid-template-rows: repeat(4, 64px);
    grid-auto-flow: column dense;
}