* {
    margin: 0rem;
    padding: 0rem;
}

div {
    margin-top: 1rem 0.5rem;
    font-size: xx-large;
}

td {
    width: 2rem;
}

ul {
    display: table;
    list-style: none;
}

li {
    display: table-cell;
    width: 2rem;
    font-size: xx-large;
}